<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
          <button type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">Close</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="justify-items-center mt-6">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-2xl font-medium leading-6 text-center text-violet-800" id="modal-title">YOU WON!</h3>
            <div class="text-center mt-2">
              <p class="text-sm text-gray-500">Curb with paper lost</p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-3 gap-4 justify-items-center">
          <div class="col-start-2 col-span-1 overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 mt-6">
            <%= image_tag("rock.png") %>
          </div>
        </div>

        <div class="grid grid-cols-5 gap-4">
          <div class="col-start-2 col-span-3 overflow-hidden rounded-lg bg-white px-4 py-5 w-full sm:p-6 mt-6">
            <button type="button" class="inline-flex place-content-center w-full rounded-md border border-transparent bg-indigo-800 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>